body {
  background-color: lightgray;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  display: inline;
}

li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#header {
    padding: 120px;
    text-align: center;
    background: lightskyblue;
    color: white;
    font-size: 30px;
  }

div > img {
  height: 200px;
  width: 200px;
  float: left;
  left: 1%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
}

div > h1 {
  position: absolute;
  left: 17%;
  top: -3.75%;
}
